Source: bubba-diskmanager
Section: utils
Priority: extra
Maintainer: Tor Krill <tor@excito.com>
Uploaders: Carl Fürstenberg <carl@excito.com>
Build-Depends:
 debhelper (>= 7.2), 
 libeutils-dev,
 libsigc++-2.0-dev, 
 libglib2.0-dev, 
 pkg-config, 
 libparted0-dev (>= 2.2),
 libudev-dev
Build-Conflicts: libparted1.7-dev
Standards-Version: 3.8.4

Package: bubba-diskmanager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libparted1.7-1
Description: Bubba diskmanager
 A wrapper for various system management commands for querying
 and modifying underlying disk structures.
