Source: bubba-backend
Section: admin
Priority: required
Maintainer: Tor Krill <tor@excito.com>
Uploaders: Carl Fürstenberg <carl@excito.com>
Build-Depends: debhelper (>= 7.2), python-all
Standards-Version: 3.8.4
Homepage: http://www.excito.com

Package: bubba-backend
Architecture: all
Conflicts: mt-daapd
Depends: ${misc:Depends}, bubba,
 bubba-status,
 bubba3-kernel (>= 1:2.6.39),
 bubba-horde,
 bubba-igd,
 foomatic-db-compressed-ppds | foomatic-db,
 adduser,
 php5-cgi (>= 5.2.0) | phpapi-20060613+lfs,
 isc-dhcp-client,
 proftpd-basic,
 fetchmail,
 ifplugd,
 cups | cupsys,
 cups-client | cupsys-client,
 openssh-server,
 file,
 filetransferdaemon,
 forked-daapd,
 minidlna,
 zip,
 udev,
 avahi-daemon,
 samba (>= 3.4),
 samba-common-bin,
 postfix,
 libsasl2-modules,
 dovecot-imapd,
 dnsmasq,
 iptables (>= 1.4.1.1-4ex1),
 libjson-perl,
 libjson-xs-perl,
 lvm2,
 mdadm,
 ethtool,
 libcrypt-passwdmd5-perl,
 libxml-simple-perl (>= 2.18),
 libxml-parser-perl,
 ntp,
 libfile-slurp-perl,
 netatalk,
 duplicity,
 ncftp,
 libipc-run3-perl,
 libipc-run-perl,
 bubba-diskmanager,
 libexpect-perl,
 libparse-debcontrol-perl,
 libcrypt-ssleay-perl,
 libconfig-simple-perl,
 liblist-moreutils-perl,
 xsltproc,
 bubba-networkmanager,
 libtry-tiny-perl,
 libconfig-tiny-perl,
 libbubba-info-perl,
 tor,
 uuid-runtime,
 python-dbus,
 system-config-printer-udev,
 hpijs-ppds,
 hplip,
 openprinting-ppds,
 foo2zjs,
 hp-ppd,
 splix,
 python (>= 2.6),
 python-apt,
 python-daemon,
 python-argparse,
 python-mysqldb,
 python-twisted-core,
 python-gnupg,
 python-netifaces,
 libio-async-perl (>= 0.45),
 libipc-shareable-perl,
 libproc-daemon-perl,
 logitechmediaserver,
 hddtemp
Description: The backend of the bubba administration
 The backend consists of scripts required for the bubba to function.
