#!/usr/bin/make -f

%:
	dh $@

define install_notifier
	install -m 755 $(1) debian/bubba-backend/usr/sbin/bubba-notify-$(notdir $(1));
	dh_link /usr/sbin/bubba-notify-$(notdir $(1)) /etc/bubba-notify/available/$(notdir $(1));
endef

override_dh_install:
	dh_install
	dh_installudev --name=rtc --priority=25
	dh_installudev --name=net-nomultionwan --priority=z70
	dh_installinit --name=bubba-firewall
	dh_installinit --name=smbrestart
	dh_installcron --name=bubba-notify
	dh_installcron --name=dovecot-timefix
	install -m 755 debian/bubba-backend.mtu.action debian/bubba-backend/etc/ifplugd/action.d/mtu
	install -m 755 debian/bubba-backend.multicast.action debian/bubba-backend/etc/ifplugd/action.d/multicast
	install -m 755 debian/bubba-backend.eth1br0-link debian/bubba-backend/etc/ifplugd/action.d/eth1br0-link
	install -m 755 debian/bubba-backend.ifup-br0 debian/bubba-backend/etc/init.d/ifup-br0
	install -m 644 apt/apt.conf debian/bubba-backend/etc/apt/bubba-apt.conf
	install -m 755 bubba-easyfind.hook debian/bubba-backend/etc/dhcp/dhclient-exit-hooks.d/bubba-easyfind
	install -m 755 samba-dhcp.hook debian/bubba-backend/etc/dhcp/dhclient-exit-hooks.d/samba
	install -m 644 dnsmasq.conf debian/bubba-backend/etc/dnsmasq.d/bubba.conf
	$(foreach notifier, $(wildcard notifiers/*),$(call install_notifier, $(value notifier)))
